
<div class="page-header">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="page-caption">
                        <h1 class="page-title">Herolo Cinema</h1>
                        <h5>Yotam Akshota</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.page-header-->
    <!-- news -->
    
            













<!-- <div id="home" class="header">
    <div class="overlay"></div>
    <div class="info fadeInLeft animate delay-500">
        <h1>Herolo's book store.
            <br>top-notch programming books.
        </h1>
        <span id="spin-text" class="text-center">Front-End Development</span>
    </div>
</div> -->